:root {
  --dark-blue: #566385;
  --light-blue: #93a3c5;
  --tan: #e8debd;
  --navy: #191718;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*Header styling */
header {
  padding: 20px 35px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  z-index: 9999;
}

body {

    font-family: Helvetica, Arial, sans-serif;
  }
/* copy centered on hero img */
main {
  position: relative;
  top: 35%;
  width: 100%;
  padding: 10%;
  text-align: center;
}
h2, .question {
  color: var(--dark-blue);
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #ffffff;
  text-shadow: 2px 2px 80px black;
  padding-bottom: 20px;
  margin: 0 auto 35px auto;
  width: 52%;
}

h4 {
    color: #fff;
    font-size: 35px;
    
}

h3 {
    color: #191718;
    font-size: 20px;
    
}
#para, p {
  color: var(--dark-blue);
  font-size: 19.5px;
}

.countdown, .score {
    color: #fff;
    font-size: 19.5px;
    padding: 10px;
}

.btn, .startBtn {
  background-color: var(--light-blue);
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

.skip, .submit, .restart, .clear-scores {
    background-color: var(--light-blue);
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  border: none;
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 10px;
}

.startBtn:hover {
    box-shadow: 0 2px #000;
    background-color: var(--dark-blue);
  }

  .btn:hover {
    background-color: #fff;
    color: var(--dark-blue);
  }

  #btn-1, #btn-2, #btn-3, #btn-4 {
    background-color: var(--light-blue);
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    border: none;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    display: block;
    margin: 15px;
  }
 
  #btn-1:hover, #btn-2:hover, #btn-3:hover, #btn-4:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

#score-text, #score {
    color: #a9a9a9;
}
.high-scores-list {
    display: block;
    align-items: center;
    list-style: none;
    color: var(--dark-blue);
    font-size: 17.5px;
}
#answer {
    color:#838383;
}
footer {
  width: 100%;
  padding: 40px 35px;
  color: var(--dark-blue);
  text-align: left;
  font-size: 15px;
}

.hidden {
    display: none;
    color: var(--dark-blue);
  font-size: 14px;
}


/*Media Queries*/


@media screen and (max-width: 980px) {
    h2 {
        justify-content: center;
        width: 100%;
        font-size: 26px;

    }

    .question{
        justify-content: center;
        width: 100%;
        font-size: 20px;

    }

    #para {
        justify-content: center;
        width: 100%;
        font-size: 20px;

    }

    
    footer {
        text-align: center;
        width: 100%;
    }
  

}